.main_container{
  display:flex;
  flex-direction: column;

}
.navigation_container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
 
}
.page_container{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 50px;
 
}